// Section Title Block
.section-title-block {
	height: 72px;
	color: #fff;
	background-image: linear-gradient( 63deg, #08161f, #0d5b88 );
}

// Section Background
.green-bg {
	background-image: linear-gradient( 27deg, rgb(0,18,32), rgb(18,99,133) );
	color: #fff!important;
	a,
	.a,
	input,
	input::placeholder,
	.input,
	textarea,
	textarea::placeholder,
	.textarea {
		color: #fff!important;
	}
	a:hover,
	a:active,
	a:focus {
	  color: #011D28!important;
	}
	.title-triangle .triangle-cut .triangle { background: #fff; }
}
.gray-bg {
	background-image: linear-gradient( 27deg, rgb(26,25,31), rgb(148,157,148) );
	color: #fff!important;
	a,
	.a,
	input,
	input::placeholder,
	.input,
	textarea,
	textarea::placeholder, 
	.textarea {
		color: #fff!important;
	}
	a:hover,
	a:active,
	a:focus {
	  color: #011D28!important;
	}	
	.title-triangle .triangle-cut .triangle { background: #fff; }
}

// Triangles
.title-triangle {
	.triangle-cut {
		width: 37px;
		height: 37px;
		.triangle { background: #fff; }
	}
}

// Padding Top For First Section
.section-1 .custom-field-group-1 {
	min-height: 100vh;
	padding-top: 200px;
}

// Text Block With Button Block
.text-block-with-button {
	padding-top: 75px;
	padding-bottom: 120px;
	.tbwb-text {
		max-width: 685px;
		margin-right: 60px;
		h1 { margin-bottom: 55px; }
		.triangle-cut {
			width: 86px;
			height: 86px;
			margin-bottom: 20px;
			.triangle { background: #fff; }
		}
	}
	.tbwb-button {
		margin-top: 60px;
		margin-left: auto;
	}
}
.text-block-with-button.no-bg {
	.triangle-cut .triangle { background-image: linear-gradient( 342deg, rgb(0,18,32), rgb(18,99,133) ); }
}

// Text Block 2 Columns Block
.text-block-2-columns {
	padding-top: 70px;
	padding-bottom: 30px;
	color: #015B77;
	.triangle-cut {
		width: 77px;
		height: 77px;
		margin-bottom: 15px;
		.triangle { background-image: linear-gradient( 342deg, rgb(0,18,32), rgb(18,99,133) ); }
	}
	.tb2c-column-wrapper {
		width: calc(100% + 63px * 2);
		margin-right: -63px;
		margin-left: -63px;
		h5 { margin-bottom: 1.28em; }
	}
	.tb2c-column {
		padding-right: 63px;
		padding-left: 63px;
		margin-bottom: 50px;
	}
}
.text-block-2-columns.green-bg,
.text-block-2-columns.gray-bg {
	.triangle-cut .triangle { background: #fff; }
}

@media (max-width: 1199px) {
	.text-block-2-columns {	
		.tb2c-column-wrapper {
			width: calc(100% + 33px * 2);
			margin-right: -33px;
			margin-left: -33px;		
		}
		.tb2c-column {
			padding-right: 33px;
			padding-left: 33px;
		}
	}
}

// Teammate Bock
.teammate-block {
	padding-top: 70px;
	padding-bottom: 80px;	
	color: #a69e96;
	.triangle-cut { margin-bottom: 28px; }
	.teammate-wrapper {
		width: calc(100% + 19px * 2);
		margin-right: -19px;
		margin-left: -19px;
	}
	.teammate {
		padding-right: 19px;
		padding-left: 19px;
		margin-bottom: 80px;
		.triangle-cut {
			width: 42px;
			height: 42px;
			.triangle { background: #A69E96; }
		}
		.teammate-picture {
			width: 100%;
			padding-top: 62.3%;
			margin-bottom: 42px;
		}
		.teammate-name { margin-bottom: 15px; }
		.teammate-position { margin-bottom: 60px; }
		.teammate-connections {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			padding-right: 16px;
			padding-bottom: 28px;
			padding-left: 20px;
		}
		.teammate-link {
			@extend .visuallyhidden;
			margin-right: 12px;
			margin-left: 12px;
			font-size: 24px;
		}
		.teammate-position {
			@extend .Sari-Light;
			letter-spacing: 0.03em;		
			font-size: 20px;
		}
		.teammate-quotation {
			@extend .Sari-Bold-Italic;
			letter-spacing: 0.03em;		
			font-size: 20px;
			line-height: 2.25;
		}
	}
	.teammate:hover,
	.teammate:active,
	.teammate:focus {
		.teammate-picture:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient( 342deg, rgb(0,18,32), rgb(18,99,133) );
			opacity: 0.81;
			background-blend-mode: multiply;
		}
		.teammate-link {
			@extend .visuallyshown;
		}
		color: #015B77;
		.triangle-cut .triangle { background-image: linear-gradient( 342deg, rgb(0,18,32), rgb(18,99,133) ); }
	}
}

// Branch Offices Block
.branch-offices {
	color: #a69e96;
	padding-top: 56px;
	padding-bottom: 18px;
	.title-triangle .triangle { background: #a69e96; }
	.custom-field-group-title { margin-bottom: 56px; }
	.branch-office-wrapper {
		width: calc(100% + 19px * 2);
		margin-right: -19px;
		margin-left: -19px;
	}
	.branch-office {
		padding-right: 19px;
		padding-left: 19px;
		margin-bottom: 50px;
		.bo-list {
			list-style-type: none;
			li {
				padding-top: 8px;
				padding-bottom: 8px;
			}
		}
		.bo-address { margin-bottom: 25px; }
		.bo-contacts { margin-bottom: 56px; }		
		.google-maps-directions { margin-top: 15px; }
	}
	.google-maps {
		width: 100%;
		padding-top: 100%;
		iframe {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

// Contact Form Block
.contact-form {
	padding-top: 73px;
	padding-bottom: 105px;
	.custom-field-group-title { margin-bottom: 40px; }
	.wpcf7 {
		input,
		textarea,
		.wpcf7-not-valid-tip {
			@extend .Sari-Regular-Italic;
			font-size: 20px;			
		}
		.wpcf7-form-control-wrap { width: 100%; }
		input,
		textarea {
			width: 100%;
			height: 60px;
			padding: 17px 34px;
			margin-bottom: 15px;
			background: transparent;
			border: 1px solid #fff;
			border-radius: 6px;
		}
		textarea { height: 240px; }
		input[type="submit"] {
			@extend .btn-1;
			padding-top: 0;
			padding-bottom: 0;
		}
		.g-recaptcha { margin-bottom: 15px; }
		.wpcf7-response-output { display: none!important; }
		.contact-form .wpcf7 .wpcf7-not-valid-tip {
			font-size: 16px;
			margin-bottom: 5px; //?? nestrādā
		}		
	}
}

// Imprint Block
.imprint {
	padding-top: 48px;
	padding-bottom: 50px;
	color: #a69e96;
	.title-triangle .triangle { background: #a69e96; }
	.custom-field-group-title { margin-bottom: 50px; }
	.imprint-contect-heading {
		font-size: 20px;
		line-height: 1.5;
		@extend .Sari-Bold;
	}
	.imprint-content-content { line-height: 1.5; }
	.imprint-content-block { margin-bottom: 30px; }
}

// Logo Block Layout Block
.logo-block-layout {
	padding-top: 80px;
	padding-bottom: 80px;
	.logo-block-link {
		padding-right: 50px;
		padding-left: 50px;
		margin-bottom: 65px;
	}
}

// Full Width Image Block
.full-width-image {
	width: 100%;
	.full-width-image-img {
		width: 100%;
		height: auto;
	}
}