//FONTS
.Sari-Light {
  font-family: sans-serif;  
  font-weight: 300;
  font-style: normal;
}
.Sari-Light-Italic {
  font-family: sans-serif;    
  font-weight: 300;
  font-style: italic;
}
.Sari-Regular {
  font-family: sans-serif;    
  font-weight: 400;
  font-style: normal;
}
.Sari-Regular-Italic {
  font-family: sans-serif;  
  font-weight: 400;
  font-style: italic;
}
.Sari-Medium {
  font-family: sans-serif;  
  font-weight: 500;
  font-style: normal;
}
.Sari-Medium-Italic {
  font-family: sans-serif;  
  font-weight: 500;
  font-style: italic;
}
.Sari-Bold {
  font-family: sans-serif;  
  font-weight: 700;
  font-style: normal;
}
.Sari-Bold-Italic {
  font-family: sans-serif;  
  font-weight: 700;
  font-style: italic;
}

p, .p {
  @extend .Sari-Regular;
  font-size: 20px;
}
h6, .h6 {
  @extend .Sari-Regular;
  font-size: 22px;
  line-height: 45px;
}
h5, .h5 {
  @extend .Sari-Regular;
  font-size: 25px;
  line-height: 32px;
}
h4, .h4 {
  @extend .Sari-Bold-Italic;
  font-size: 30px;
  letter-spacing: 0.03em;
}
h3, .h3 {
  @extend .Sari-Regular;
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
h2, .h2 {
  @extend .Sari-Light;
  font-size: 50px;
  line-height: 64px;
}
h1, .h1 {
  @extend .Sari-Regular;
  font-size: 70px;
  line-height: 81px;
}

[class^="i-"],
[class*="i-"] {
  font-family: 'icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
    /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9b9jp8');
  src:  url('fonts/icomoon.eot?9b9jp8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9b9jp8') format('truetype'),
    url('fonts/icomoon.woff?9b9jp8') format('woff'),
    url('fonts/icomoon.svg?9b9jp8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.i-add:before {
  content: "\e900";
}
.i-arrow-down:before {
  content: "\e901";
}
.i-arrow-right:before {
  content: "\e902";
}
.i-bg-dark-blue:before {
  content: "\e903";
  color: #364156;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.i-bg-light-blue:before {
  content: "\e904";
  color: #c7d3dd;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;  
}
.i-bg-lightest:before {
  content: "\e905";
  color: #e9edf1;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;  
}
.i-check:before {
  content: "\e906";
}
.i-clear:before {
  content: "\e907";
}
.i-close:before {
  content: "\e908";
}
.i-delete:before {
  content: "\e909";
}
.i-fb:before {
  content: "\e90a";
}
.i-google-plus:before {
  content: "\e90b";
}
.i-grid:before {
  content: "\e90c";
}
.i-list:before {
  content: "\e90d";
}
.i-print:before {
  content: "\e90e";
}
.i-show:before {
  content: "\e90f";
}
.i-twitter:before {
  content: "\e910";
}
.i-vk:before {
  content: "\e911";
}

//END OF FONTS