//FONTS
.Sari-Light {
  font-family: sans-serif;  
  font-weight: 300;
  font-style: normal;
}
.Sari-Light-Italic {
  font-family: sans-serif;    
  font-weight: 300;
  font-style: italic;
}
.Sari-Regular {
  font-family: sans-serif;    
  font-weight: 400;
  font-style: normal;
}
.Sari-Regular-Italic {
  font-family: sans-serif;  
  font-weight: 400;
  font-style: italic;
}
.Sari-Medium {
  font-family: sans-serif;  
  font-weight: 500;
  font-style: normal;
}
.Sari-Medium-Italic {
  font-family: sans-serif;  
  font-weight: 500;
  font-style: italic;
}
.Sari-Bold {
  font-family: sans-serif;  
  font-weight: 700;
  font-style: normal;
}
.Sari-Bold-Italic {
  font-family: sans-serif;  
  font-weight: 700;
  font-style: italic;
}

p, .p {
  @extend .Sari-Regular;
  font-size: 20px;
}
h6, .h6 {
  @extend .Sari-Regular;
  font-size: 22px;
  line-height: 45px;
}
h5, .h5 {
  @extend .Sari-Regular;
  font-size: 25px;
  line-height: 32px;
}
h4, .h4 {
  @extend .Sari-Bold-Italic;
  font-size: 30px;
  letter-spacing: 0.03em;
}
h3, .h3 {
  @extend .Sari-Regular;
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
h2, .h2 {
  @extend .Sari-Light;
  font-size: 50px;
  line-height: 64px;
}
h1, .h1 {
  @extend .Sari-Regular;
  font-size: 70px;
  line-height: 81px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vogpfj');
  src:  url('fonts/icomoon.eot?vogpfj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vogpfj') format('truetype'),
    url('fonts/icomoon.woff?vogpfj') format('woff'),
    url('fonts/icomoon.svg?vogpfj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e900";
  color: #fff;
}
.icon-facebook:before {
  content: "\e901";
  color: #fff;
}
.icon-xing:before {
  content: "\e902";
  color: #fff;
}
.icon-linkedin:before {
  content: "\e903";
  color: #fff;
}


//END OF FONTS